<%- partial('_partial/head') %>


  <body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <%- body %>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>


          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

          <!-- <script src="./js/contacts.js"></script> -->
          <script src="/js/search.js"></script>

          <script type="text/javascript">
            $('.pr-search-label').click(function () {
              var search_path = "<%= config.search.path %>";
              if (search_path.length == 0) {
                search_path = "search.json";
              }
              var path = "<%= config.root %>" + search_path;
              searchFunc(path, 'prSearchInput', 'pr-search-results');
            });
          </script>
  </body>

  </html>