<div class="container-fluid">
  <div class="row">
    <section class="col-12 col-md-8 offset-xl-1 col-xl-7">
      <ul id="postList">
        <% page.posts.each(function (post) { %>
        <%- post.link %>
          <li class="pr-blog-post">
            <a href="<%- url_for(post.path) %>">
              <h3><%- post.title %></h3>
              <!-- note: excerpt is in <p> -->
              <%- post.excerpt %>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
    <aside class="hidden-sm-down col-md-4 col-xl-3">
      <%- partial('sidebar') %>
    </aside>
  </div>
</div>